@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var dob = new System.DateTime(1948, 11, 14);
    var now = DateTime.Now;
    if (@Gov.News.Website.AppState.GranvilleTestDate != DateTime.MinValue)
    {
        now = @Gov.News.Website.AppState.GranvilleTestDate;
    }
    var age = now.Year - dob.Year;

    if (now.DayOfYear < dob.DayOfYear)
    {
        age = age - 1;
    }
}

<div id="bridge-banner" class="info-black-banner container-fluid sm-g-0">
    <div class="content container-xl sm-g-0">
        <div style="align-content:center;">
            <i class="fa fa-info-circle fa-lg" aria-hidden="true"></i>
        </div>
        <div>
            ALERT: His Majesty King Charles III, King of Canada, has passed away at the age of @age.
        </div>
        <div style="align-content:center;">
            <a id="btnCloseBannerBridge"><i class="fa fa-xmark fa-lg" aria-hidden="true"></i></a>
        </div>
    </div>
</div>
