@using Gov.News.Api.Models
@using Gov.News.Website;

@model List<Category>

@if (Model.Any())
{
    <div class="resource-links more-from-sectors">
        <h3>More From These Sectors</h3>
        <ul>
            @foreach (var sector in Model)
            {
                <li><a href="@sector.GetUri()">@System.Net.WebUtility.HtmlEncode(sector.Name)</a></li>
            }
        </ul>
    </div>
}
