<div class="resource-links connect share">
    <h3>Share</h3>
    <ul>
        <li class="facebook-action facebook-share"><a href="https://www.facebook.com/" title="Facebook" aria-label="share on Facebook"> <i class="fa fa-facebook-square fa-customized-sm" aria-hidden="true"></i> </a></li>
        <li><a href="#" title="Twitter" aria-label="share on Twitter"><i class="fa fa-twitter fa-customized-sm" aria-hidden="true"></i></a></li>
        <li><a href="mailto:?subject=@Model.Title&body=@Model.CanonicalUri" title="Email" aria-label="send emails"><i class="fa fa-envelope fa-customized-sm" aria-hidden="true"></i> </a></li>
        @*<li><a href="#" class="share-this" title="Add This"> </a></li>*@
    </ul>
</div>

