<div class="resource-links connect share">
    <h3>Share</h3>
    <ul>
        <li><a class="share-twitter" href="#" title="X" aria-label="share on X"><i class="fa-brands fa-square-x-twitter fa-customized-sm" aria-hidden="true"></i></a></li>
        <li><a href="mailto:?subject=@Model.Title&body=@Model.CanonicalUri" title="Email" aria-label="send emails"><i class="fa fa-envelope fa-customized-sm" aria-hidden="true"></i> </a></li>
    </ul>
</div>

