<div class="resource-links connect share">
    <h3>Share</h3>
    <ul>
        <li><a class="share-twitter" href="#" title="X" aria-label="share on X"><i class="fa-brands fa-square-x-twitter fa-customized-sm" aria-hidden="true"></i></a></li>
        <li><a class="share-facebook" href="#" title="Facebook" aria-label="share on Facebook"><i class="fa-brands fa-facebook fa-customized-sm" aria-hidden="true"></i> </a></li>
        <li><a class="share-instagram" href="#" title="Instagram" aria-label="share on Instagram"><i class="fa-brands fa-instagram fa-customized-sm" aria-hidden="true"></i> </a></li>
        <li><a class="share-threads" href="#" title="Threads" aria-label="share on Threads"><i class="fa-brands fa-threads fa-customized-sm" aria-hidden="true"></i> </a></li>
        <li><a class="share-weibo" href="#" title="Weibo" aria-label="share on Weibo"><i class="fa-brands fa-weibo fa-customized-sm" aria-hidden="true"></i> </a></li>
        <li><a href="mailto:?subject=@Model.Title&body=@Model.CanonicalUri" title="Email" aria-label="send emails"><i class="fa fa-envelope fa-customized-sm" aria-hidden="true"></i> </a></li>
    </ul>
</div>

