@using Gov.News.Website.Models
@model NewsletterViewModel


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
 }
<div class="newsletters">
    <div class="home-features">
        <partial name="ConnectSocialMedia" />
        <partial name="ResourceLinks" />
        <vc:top-sectors/>
    </div>
    <div class="home-body">
        <h3>Newsletters</h3>
        <partial name="Newsletter" />
        <br/><br/>
    </div>
    <div class="clear"></div>
</div>
