.skip-link {
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

    .skip-link:focus {
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        overflow: visible;
    }

.access {
    display: inline;
    height: 0;
    position: absolute;
    width: 0;
    z-index: 9;
}

    .access ul {
        padding-left: 10px;
        list-style: none;
    }

    .access li a, .access a {
        margin: 5px 0 0 -5000px;
        width: 120px;
        padding: 5px;
        position: absolute;
        top: 0;
        color: #fcba19;
    }

        .access li a:focus, .access a:focus {
            margin-left: 0;
        }

.story-features .fa.fa-facebook-square {
    color: #3b5998;
}
.story-features .fa.fa-twitter {
    color: #55acee;
}

.segment .fa {
    color: #ffffff;
}

.segment .fa-brands.fa-square-x-twitter {
    color: #ffffff;
}

.segment .fa.fa-envelope {
    color: #ffffff;
}

.story-features .fa-customized-sm, .segment .fa-customized-sm{
    font-size: 1.6em;
}

.search-panel-trigger:hover{
    cursor:pointer;
}