body {
}

.covid-banner {
    background-color: #355992;
    width: 100%;
    z-index: 5;
    font-size: 20px;
    color: #fff;
    padding: 15px;
    padding-left: 30px;
}

.covid-banner .content {
    padding-left:20px;
}

.covid-banner a {
    color: white;
}

@media (min-width: 550px) and (max-width: 680px) {
    .mini-search-trigger, .mini-menu-trigger { 
        top: 100px !important;  
    }
}

@media (min-width: 388px) and (max-width: 549px) {
    .mini-search-trigger, .mini-menu-trigger {
        top: 130px !important;
    }
}

@media only screen and (max-width: 387px) {
    .mini-search-trigger, .mini-menu-trigger {
        top: 155px !important;
    }
}

#btnCloseCovidBanner {
    color:white !important;
}
