body {
}
.home-body .article img {
    margin-right:0 !important;
}
@media only screen and (max-width: 400px) {
    #main-content {
        padding-left: 0 !important;
        width: 200px !important;
    }
    .home-body, .story-body {
        width: 100% !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2 {
        width: 180px !important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    #main-content {
        padding-left: 0 !important;
    }

    .home-body, .story-body {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .content {
        width: 300px !important;
        min-width: 300px !important;
        max-width: 300px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2 {
        width: 290px !important;
    }
}


@media (min-width: 500px) and (max-width: 603px) {
    #main-content {
        padding-left: 0 !important;
    }

    .home-body, .story-body {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .content {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2 {
        width: 390px !important;
    }
}

@media (min-width: 604px) and (max-width: 991px) {
    #main-content {
        padding-left: 0 !important;
    }
    .home-body, .story-body {
        width: 100% !important;
        padding-left:0 !important;
    }
    .content {
        width: 500px !important;
        min-width: 500px !important;
        max-width: 500px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2 {
        width: 490px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #main-content {
        padding-left: 0 !important;
    }
    .home-body, .story-body {
        width: 100%;
    }
    .content {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2 {
        width: 190px !important;
    }
}


