body {
}

#header,
   #covid-banner,
   #nav-container,
   #footer,
   #end-cap,
   .resource-links,
   .media-container,
   .news-control,
   .home-features {
      display: none;
}

.home-body .article img {
    margin-right:0 !important;
}
@media screen and (max-width: 400px) {
    #main-content {
        padding-left: 0 !important;
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .home-body, .story-body {
        width: 100% !important;
    }
        .home-body .article .item-text.with-image, .home-body .article h2, .home-body .article img, .home-body .article .item-text {
            width: 190px !important;
        }
    .content {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
}

@media screen and (min-width: 401px) and (max-width: 500px) {
    #main-content {
        padding-left: 0 !important;
        min-width: 300px !important;
        max-width: 300px !important;
    }

    .home-body, .story-body {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .content {
        width: 300px !important;
        min-width: 300px !important;
        max-width: 300px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2, .home-body .article img, .home-body .article .item-text {
        width: 290px !important;
    }
}

@media screen and (min-width: 501px) and (max-width: 603px) {
    #main-content {
        padding-left: 0 !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }

    .home-body, .story-body {
        width: 100% !important;
        padding-left: 0 !important;
    }

    .content {
        width: 400px !important;
        min-width: 400px !important;
        max-width: 400px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2, .home-body .article img, .home-body .article .item-text {
        width: 390px !important;
    }
}

@media screen and (min-width: 604px) and (max-width: 991px) {
    #main-content {
        padding-left: 0 !important;
        min-width: 500px !important;
        max-width: 500px !important;
    }
    .home-body, .story-body {
        width: 100% !important;
        padding-left:0 !important;
    }
    .content {
        width: 500px !important;
        min-width: 500px !important;
        max-width: 500px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2, .home-body .article img, .home-body .article .item-text {
        width: 490px !important;
    }
}

/* Medium devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    #main-content {
        padding-left: 0 !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .home-body, .story-body {
        width: 100%;
    }
    .content {
        width: 200px !important;
        min-width: 200px !important;
        max-width: 200px !important;
    }
    .home-body .article .item-text.with-image, .home-body .article h2, .home-body .article img, .home-body .article .item-text {
        width: 190px !important;
    }
    
}


