@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: normal;
    src: url("../fonts/BCSans-Italic.woff2") format("woff2"), url("../fonts/BCSans-Italic.woff") format("woff"), url("../fonts/BCSans-Italic.otf") format("opentype"), url("../fonts/BCSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/BCSans-Bold.woff2") format("woff2"), url("../fonts/BCSans-Bold.woff") format("woff"), url("../fonts/BCSans-Bold.otf") format("opentype"), url("../fonts/BCSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/BCSans-BoldItalic.woff2") format("woff2"), url("../fonts/BCSans-BoldItalic.woff") format("woff"), url("../fonts/BCSans-BoldItalic.otf") format("opentype"), url("../fonts/BCSans-BoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "BCSans";
    font-style: italic;
    font-weight: 300;
    src: url("../fonts/BCSans-LightItalic.woff2") format("woff2"), url("../fonts/BCSans-LightItalic.woff") format("woff"), url("../fonts/BCSans-LightItalic.otf") format("opentype"), url("../fonts/BCSans-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: 300;
    src: url("../fonts/BCSans-Light.woff2") format("woff2"), url("../fonts/BCSans-Light.woff") format("woff"), url("../fonts/BCSans-Light.otf") format("opentype"), url("../fonts/BCSans-Light.ttf") format("truetype");
}

@font-face {
    font-family: "BCSans";
    font-style: normal;
    font-weight: normal;
    src: url("../fonts/BCSans-Regular.woff2") format("woff2"), url("../fonts/BCSans-Regular.otf") format("opentype"), url("../fonts/BCSans-Regular.woff") format("woff"), url("../fonts/BCSans-Regular.ttf") format("truetype");
}

:root {
    --primary-blue: #013366;
    --white: #ffffff;
    --info-blue: #013366;
    --info-green: #42814A;
    --warning-yello: #F8BB47;
    --alert-red: #CE3E39;
    --dark: #@d2D2D;
    
}

body {
    font-family: "BCSans", "Noto Sans", Verdana, Arial, sans-serif;
    background-color: #fff;
    color: #2D2D2D;
    font-size: 13px;
    /*overflow-y: scroll;*/
    overflow-x: hidden;
    width: 100%;
}

.header .navbar-brand {
    color: #2d2d2d;
    font-size: 18px;
    font-weight: 700;
    border-left: 2px solid var(--primary-blue);
}

#BCGov-logo {
    width: 164px;
}

.skip-link{

}

.info-blue-banner {
    background-color: var(--primary-blue);
    width: 100%;
    font-size: 16px;
    color: #fff;
}

.info-blue-banner .content {
    padding: 20px;
    display: flex;
    gap: 8px;
    justify-content: space-between;
}

.info-blue-banner a:hover{
    cursor: pointer;
}

.search input {
    border-right: none;
}

.search button {
    border-left: none;
    background-color: transparent;
}

#navbarSupportedContent .navbar-nav li a {
    color: #2D2D2D !important;
}

#navbarSupportedContent .navbar-nav li {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

#navbarSupportedContent .navbar-nav li:focus,
#navbarSupportedContent .navbar-nav li:hover,
#navbarSupportedContent .navbar-nav li:active,
#ministry-dropdown:active, #ministry-dropdown.active
{
    background-color: #D7D7D7;
    border-radius: 4px;
}

#nav-menu-sm.active,
#search-md-button.active {
    background-color: #D7D7D7;
}

.nav-link:hover,
.nav-link:visited,
.nav-link:focus {
    background-color: transparent !important;
}

#sm-nav-container {
    margin-right: 0;
    padding-right: 0;
}

.search {
    padding-left: 5px;
}

#site-search-input:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #395CCF;
    border-right: none;
}

#site-search-input:focus + .search-trigger {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border-right: none;
    border: 1px solid #395CCF;
}

.search-trigger:hover{
    cursor: pointer;
}


.search button, .search span {
    border-left: none;
    background-color: transparent
}

#landAcknowledgement {
    background-color: #313132;
    color: white;
    margin-bottom: 0;
    border-top: 4px solid rgb(252, 186, 25);
    border-bottom: 4px solid rgb(252, 186, 25);
    padding-top: 30px;
    padding-bottom: 20px;
}

#footer {
    background-color: #FFF;
    color: #2d2d2d;
    padding-top: 40px;
    font-size: 16px;
}

#footer .top{
    display:flex;
    flex-direction:row;
    align-items: stretch;
    justify-content: flex-end;
    gap: 10px 50px;
    flex-wrap: wrap;
}

#footer .bottom {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: flex-start;
    margin-bottom: 30px;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(1, 51, 102);
}

#BCGov-logo-footer {
    width:164px;
    margin-bottom:10px;
}

#footer h4 {
  font-size: 14px;
  padding-right: 20px;
  margin-top: 22px;
  margin-bottom: 10px;
  font-weight: 600;
}

#footer ul{
    list-style-type: none;
    padding-left:0;
}

#footer ul li{
    margin-bottom:8px;
}

.ministry-listing {
    display:flex;
}

@media only screen and (min-width: 1024px) {
    
    #navbarSupportedContent .navbar-nav li a {
        font-size: 1rem;
    }

    #navbarSupportedContent ul li a {
        white-space: nowrap;
    }

    .live_button_show {
        margin-left: 10px;
    }

    .footer-bc {
        flex:2;
    }

    .footer-connect, .footer-more-info {
        flex: 1;
    }
    
}


@media (min-width: 768px) and (max-width: 1023px) {
    #navbarSupportedContent .navbar-nav li a {
        font-size: 0.9rem;
    }

    #main-nav-contaier {
        --bs-gutter-x: 0.5rem;
        text-wrap: nowrap
    }

    .menu ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    .footer-bc {
        flex: 0 0 100%;
    }

    .footer-connect, .footer-more-info {
        flex: 1;
    }
}

.btn-primary-blue {
    background-color: var(--primary-blue) !important;
    color: var(--white);
}

#news-dropdown:hover{
    cursor: pointer;
}

#menu {
    z-index: 100;
    /*width: 100vw !important;*/
    left: 0;
    /*position: absolute;*/
    transform: translateX(0px);
    background-color: #fff;
    /*top: 75px;*/

    width: 100vw !important;
    position: relative;
    top: -10px;
    min-height: 100vh !important;
    height: max-content;
    height: 100vh !important;
}

#main-nav {
    --bs-gutter-x: 0;
}

.menu {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    gap: 10px 30px;
    font-size: 16px;
    padding: 25px 20px 20px 0px;
    color: #2d2d2d;
}

.menu ul li {
    padding-top: 10px;
}

.list-title {
    font-weight: 600;
    font-size: 18px;
    padding-left: 20px;
}

.menu ul li a {
    display: block;
    padding: 5px 0 5px 5px;
    color: #2d2d2d;
}

.menu ul li a:hover {
    text-decoration: none;
}

.menu ul li a:hover {
    color: rgb(41, 41, 41);
    text-decoration: underline;
    border-radius: 4px;
}

#search-md-button:hover,
#search-md-button image:hover {
    cursor: pointer;
}

#search-md-button {
    padding: 0;

    display: block;
}

.menu-icon {
    height: 40px;
    width: 40px;
    text-align: center;
}

@media only screen and (min-width: 1024px) {
    .menu ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }
    .d-lg-block {
        display: block !important;
    }
}
.menu ul li {
    float: left;
    width: 90%;
}

@media only screen and (max-width: 1023px) {
    .menu ul li a {
        padding: 3px 0 3px 3px;
    }
    .live_button_show {
        padding: 0 !important;
        margin-bottom: 10px;
        margin-left: 5px;
    }
    
}

.nav-border {
    border-bottom: 1px solid rgb(217, 217, 217);
    height:75px;
}

.navbar-toggler, #search-md-button {
    border-color: #2D2D2D;
}

.live_button_show {
    color: #ffffff;
    white-space: nowrap;
}

.live_button_hide {
    display: none !important;
    padding: 0 !important;
    margin-bottom: 10px;
}

.search-md {
    padding: 0;
}

.search-md-block {
    padding-bottom: 10px;
}

#smd-search-container {
    z-index: 200;
    padding-left: 0;
    padding-right: 0;
    /*width: 100vw !important;*/
    height: auto;
    left: 0;
    height: max-content;
    position: absolute;
    transform: translateX(0px);
    background-color: #fff;
    padding-left: 30px;
    padding-right: 35px;
    padding-top: 10px;
    padding-bottom: 10px;
    position: relative;
    width: 100vw !important;
    top: -10px;
}

#smd-search-container input, #smd-search-container button {
    border:none;
    background-color: #FFF;
}

#navbarSupportedContent {
    background-color: #FFF;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

@media only screen and (max-width: 767px) {
    .info-blue-banner {
        --bs-gutter-x: 0;
        padding-right: 10px;
    }
    #sm-nav-container {
        padding-left: 0 !important;
        padding-right: 0;
        width: 100vw !important;
        --bs-gutter-x: 0;
        position: absolute;
        top: 73px;
        height: 100vh;
        /*z-index: 100;*/
    }

    #main-nav {
        padding-left: 0 !important;
        --bs-gutter-x: 0.5rem;
    }

    #main-nav-contaier {
        padding-left: 0 !important;
        --bs-gutter-x: 0.5rem;
    }

    #menu {
        top: -6px;
    }

    #smd-search-container {
        top: -6px;
    }

    .collapse-menu-icon {
        padding: 0;
        margin-left: auto;
    }

    #search-md-button {
        margin-left: 5px;
        display: block;
    }

    .live_button_show {
        margin-left: 5px;
        margin-bottom: 0;
    }

    .navbar-toggler:focus {
        box-shadow: none;
    }

    #navbarSupportedContent {
        margin-top: 2px;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 1rem;
        font-weight: 600;
        min-height: 100vh !important;
    }

    #navbarSupportedContent ul li a {
        padding-left: 10px;
    }

    #sm-icon-dropdown {
        float: right;
        padding-right: 20px;
    }

    #sm-menu .menu {
        padding-top: 10px;
        font-weight: 400;
    }

    #sm-menu .menu ul {
        padding-left: 5px;
    }

    .list-title {
        font-size: 16px;
        padding-left: 0;
        padding-bottom: 10px;
    }

    #sm-BCGov-logo {
        width: 70px;
        padding: 10px 10px 10px 10px;
    }

    .footer-bc {
        flex: 0 0 100%;
    }

    .footer-connect, .footer-more-info {
        flex: 1;
    }

    #footer{
        position: relative;
    }

    #end-cap {
        display: block;
        height: 50px;
    }

    #footer .top {
        gap: 10px 5px;
    }

    #footer h4 {
        padding-right: 10px;
        white-space: normal;
    }
}

@media only screen and (max-width: 479px) {
    #main-nav-contaier .navbar-brand {
        margin-right: 0;
        padding-left: 0.7rem !important;
    }

    #main-nav-contaier .navbar {
        justify-content: flex-start;
    }

    .menu ul li a {
        white-space: normal;
    }
}

@media only screen and (max-width: 350px){
    .header .navbar-brand {
        font-weight: 600;
        font-size: 16px;
    }

    #main-nav {
        --bs-gutter-x: none !important;
    }
}


