body {
}
.granville-bridge-grey{
    background-color: #333333 !important;
}

.granville-bridge-black {
    background-color: #000000 !important;
    color: #ffffff;
}

.granville-bridge-light-grey {
    background-color: #616161 !important;
}

.granville-bridge-banner {
    border: 1px solid black;
    margin-bottom: 0;
    padding-top: 10px;
    font-size: 18px;
    text-align: center;
}

.granville-bridge-banner a {
    color: #ffffff;
    text-decoration: underline;
}

.granville-bridge-banner p{
    padding-top:5px;
    padding-bottom:5px;
}

.granville-bridge-black-button {
    background-color: #000000 !important;
    color: #ffffff;
    border: solid 1px #fab919;
    border-left: 1px solid rgba(250, 185,25,1) !important;
}
@media only screen and (max-width: 680px) {
    .granville-bridge-banner {
        height: 70px;
    }

    .granville-bridge-mini-hamburger-menu {
        background-color: #000000 !important;
        top: 135px !important;
        height: 48px;
        width: 48px;
    }

    .granville-bridge-mini-search-menu {
        background-color: #616161 !important;
        top: 135px !important;
        height: 48px;
        width: 48px;
        right: 60px;
    }

    #mini-menu-container .mini-menu-search .granville-bridge-grey {
        padding: 10px;
    }

    #mini-menu-container .search.granville-bridge-grey {
        margin-top: 0;
        padding: 10px;
        position: relative;
        background-color: #38598a;
    }

        #mini-menu-container .search.granville-bridge-grey .search-trigger {
            cursor: pointer;
            height: 35px;
            position: absolute;
            right: 13px;
            top: 10px;
            width: 35px;
        }

        #mini-menu-container .search.granville-bridge-grey input {
            height: 35px;
            font-size: 15px;
            line-height: 1em;
            font-style: italic;
            background-image: url(Images/search-ico-lg.png);
            background-repeat: no-repeat;
            background-position: right 5px center;
            width: 100%;
            border: none;
            padding: 5px 10px 0;
        }

    .granville-bridge-mini-menu {
        background-color: #333333 !important;
        border-bottom: 1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-black.first-link {
        border-bottom: 1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-mini-menu.first-link {
        border-top: 1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-mini-menu .level-trigger,
    #mini-menu .site-menu ul li.granville-bridge-mini-menu .no-trigger {
        border-left: 1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-mini-menu {
        background-color: #333333 !important;
        border-bottom: 1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-mini-menu ul {
        background-color: #333333 !important;
        border-top:1px solid #616161 !important;
    }

    #mini-menu .site-menu ul li.granville-bridge-mini-menu {
        border-top: #616161 !important;
    }
    #mini-menu .site-menu ul li.granville-bridge-mini-menu ul li {
        background-color: #333333 !important;
        border-bottom: 1px solid #616161 !important;
    }

}
