@using Gov.News.Website
@using Gov.News.Website.Models
@model ICollection<IndexModel>
<div class="resource-links">
    <h3>News by Sector</h3>
    <div>
        @foreach (var sector in Model.OrderBy(e => e.Index.Name))
        {
            var post = sector.LatestNews.FirstOrDefault();

            if (post != null)
            {
                <h4>@sector.Index.Name</h4>
                <p><a href="@post.GetUri()">@post.Headline()</a></p>
            }
        }
    </div>
</div>